.navbar {
 padding: 7px 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-align: center;
}

.nav-links {
 list-style: none;
 display: flex;
 gap: 6.5px;
 font-size: 8.2px;
 /* background-color: #2F327D; */
}

.nav-links a {
 align-items: center;
 justify-content: center;
 text-align: center;
 text-decoration: none;
 color: #222224;
 font-size: 8.2px;
}

a:active {
 color: #F48C06;
 text-decoration: underline;
}

.logo-text {
 color: #2F327D;
}

.logo-text span {
 color: #FF8A00;
}
.logo {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 15px;
}
.logo-arrow {
 width: 15px;
 height: 15px;
}